<ion-view view-title="About">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
		    Hybrid Android - Hacker News Reader
		  	</div>
			<div class="item item-text-wrap">
				<p>Thank you for downloading this app.</p>
				<br></br>
				<p>The following technologies were used in this project:</p>
				<ol>
					<li><p>1. <a ng-click="openBrowser('https://cordova.apache.org/')")>Apache Cordova</a></p></li>
					<li><p>2. <a ng-click="openBrowser('ionicframework.com/')")>Ionic Framework</a></p></li>
					<li><p>3. <a ng-click="openBrowser('https://angularjs.org/')")>Angular JS</a></p></li>
					<li><p>4. <a ng-click="openBrowser('https://github.com/HackerNews/API/')")>Hacker News Firebase API (REST)</a></p></li>
					<li><p>5. <a ng-click="openBrowser('https://hn.algolia.com/')")>Search HN Algolia API (REST)</a></p></li>
				</ol>
			</div>
			<div class="item item-divider">
		    <p>Developer: Beatriz Macedo</p>
		    <p>UX Consultant: Eduardo Furtado</p>
		  	</div>
		</div>
	</ion-content>
</ion-view>