<ion-view view-title="About">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
		    Hybrid Android Hacker News Reader
		  	</div>
			<div class="item item-text-wrap">
				<p>Thank you for downloading this app.</p>
				<p>This app uses:</p>
				<ol>
					<li><p>1. Apache Cordova</p></li>
					<li><p>2. Ionic Framework</p></li>
					<li><p>3. Angular JS</p></li>
					<li><p>4. Hacker News Firebase API</p></li>
					<li><p>5. Search HN Algolia API</p></li>
				</ol>
			</div>
			<div class="item item-divider">
		    <p>Developer: Beatriz Macedo</p>
		    <p>UX Expert Consultant: Eduardo Furtado</p>
		  	</div>
		</div>
	</ion-content>
</ion-view>