<ion-view view-title="Ask HN">
  <ion-content>
    <ion-refresher pulling-text="Pull To Refresh..."
      on-refresh="doRefresh()"
      spinner="ios"
      pulling-icon="ion-arrow-up-c">
    </ion-refresher>
    <ion-list ng-init="doRefresh()" can-swipe="true">
      <!--http://www.iperform.nl/en/blog/post/cordova-open-external-link-->

      <ion-item class="item item-icon-left item-icon-right"
         ng-repeat="story in askStories"
         ng-click="openBrowser(story.url)"> <!--href="{{story.url}}" target="_blank" -->
          <i class="icon">
            <button class="story-score button button-small button-dark">
              <i>{{story.score}}</i>
            </button>
          </i>
          <span class="story-title item-text-wrap">
            {{$index+1}} - {{story.title}} 
            <span class="story-time-ago subdued">
              [{{story.time * 1000 | timeAgo}}]
            </span>
          </span>
          <span ng-show="story.url" class="story-domain item-note">
            ({{ story.url | domain }})
          </span>
          <i class="icon" ng-show="story.descendants">
               <!--href="#/app/comments/{{story.id}}">-->
            <a class="story-comments badge badge-positive" >
               {{story.descendants}}
            </a>
          </i>

          <ion-option-button class="button-clear button-positive"
                       ng-click="share(story.title, story.url)">
            <i class="icon ion-share custom-icon"></i>
          </ion-option-button>
          <ion-option-button class="button-clear button-positive center-content"
                             ng-click="goToCommentsPage(story.id)">
            <i class="icon ion-chatbox-working"></i>
          </ion-option-button>
      </ion-item>
                
      <ion-item class="item-divider" ng-show="moreDataCanBeLoaded()">
        <button class="button button-block button-outline button-small button-small button-dark" 
          ng-click="loadMoreData()">
          More...
        </button>
      </ion-item>
      <ion-item class="item-divider" ng-show="!moreDataCanBeLoaded()">
        <button class="button button-block button-outline button-small button-small button-dark">
          The End...
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
