<ion-view view-title="Comments">
  <ion-content id="scrollList" delegate-handle="mainScroll">

     <div class="card">
	  <div  class="item item-divider" style="padding-bottom: 20px;">
		<!--<hr style="height:5pt; visibility:hidden;" />-->
		<p>Created: {{story.time * 1000 | timeAgo}}</p>
	    <span class="item-text-wrap" ng-click="openBrowser(story.url)"><b>{{story.title}}</b></span>
	    <a class="badge badge-positive" href="#/app/user/{{story.by}}" style="text-decoration: none;margin-right:-20px;margin-top:-2px;">
			{{story.by}}
		</a> 
	  </div>
	  <!--The next divider is to show the ask description-->
	  <div class="item item-divider" ng-show="hasText(story)">
	    <span class="comment-text item-text-wrap" ng-bind-html="story.text"></span>
	  </div>
	  <!-- Comments Template -->
	  <div class="item" ng-repeat="comment in story.nodes"  ng-include="'templates/comment-item-renderer.html'"></div>
	</div>
                
  </ion-content>
</ion-view>
