<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Search</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSearch()"><i class="icon ion-close-circled"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="goToSearchResults(searchData)" ng-init="searchData.type = 1">
      <div class="list">
        <label class="item item-input item-select">
			    <div class="input-label">
			      Search For:
			    </div>
			    <select ng-model ="searchData.type" required>
			      <!--<option ng-value="0">All</option>-->
			      <option value="1">Story</option>
			      <option value="2">Comment</option>
			      <option value="3">Ask HN</option>
			      <option value="4">Show HN</option>
			      <!--<option ng-value="5">Jobs</option>-->
			    </select>
			  </label>
			  <label class="item item-input">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="text" placeholder="Fill with data you're looking for." name="searchField" ng-model="searchData.text">
			  </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit"><i class="icon ion-search"></i> Search</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
