<ion-view view-title="Settings">
	<ion-content>
		<!--<div class="card">
			<div class="item item-divider">
		    Themes
		  	</div>
			<div class="item item-text-wrap">
				<div class="button-bar">
				  <a class="button button-light" ng-click="lightButton()">Light</a>
				  <a class="button button-dark" ng-click="darkButton()">Dark</a>
				  <a class="button button-positive" ng-click="blueButton()">Blue</a>
				</div>

			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
		    Start Screen
		  	</div>
			<div class="item item-text-wrap">
				<div class="list">
					  <label class="item item-radio">
					    <input type="radio" name="startScreen" id="top" value="top">
					    <div class="item-content">
					      Top Stories
					    </div>
					    <i class="radio-icon ion-checkmark-circled"></i>
					  </label>
					  <label class="item item-radio">
					    <input type="radio" name="startScreen" id="new" value="new">
					    <div class="item-content">
					      New Stories
					    </div>
					    <i class="radio-icon ion-checkmark-circled"></i>
					  </label>
					  <label class="item item-radio">
					    <input type="radio" name="startScreen" id="ask" value="ask">
					    <div class="item-content">
					      Ask HNs
					    </div>
					    <i class="radio-icon ion-checkmark-circled"></i>
					  </label>
					  <label class="item item-radio">
					    <input type="radio" name="startScreen" id="show" value="show">
					    <div class="item-content">
					      Show HNs
					    </div>
					    <i class="radio-icon ion-checkmark-circled"></i>
					  </label>
					  <label class="item item-radio">
					    <input type="radio" name="startScreen" id="poll" value="poll">
					    <div class="item-content">
					      Polls
					    </div>
					    <i class="radio-icon ion-checkmark-circled"></i>
					  </label>
					  <label class="item item-radio">
					    <input type="radio" name="startScreen" id="job" value="job">
					    <div class="item-content">
					      Jobs
					    </div>
					    <i class="radio-icon ion-checkmark-circled"></i>
					  </label>
				</div>
			</div>
		</div>-->
		<div class="card">
		  <div class="item item-divider">
		    <!--Other Options--> Browser Options
		  </div>
		  <div class="item item-text-wrap">
			<ul class="list">
			  <li class="item item-toggle">
			     Open Links on External Browser
			     <label class="toggle toggle-balanced">
			       <input type="checkbox" id="externalBrowser">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			  </li>
			</ul>
		  </div>
		</div>
		<div class="item item-divider">
			<button class="button button-block button-dark" ng-click="save()">Save <i class="radio-icon ion-checkmark-circled"></i></button>
		  </div>
	</ion-content>

</ion-view>