<ion-view view-title="Top Stories">
  <ion-content>
    <ion-refresher pulling-text="Pull To Refresh..."
      on-refresh="doRefresh()"
      spinner="ios"
      pulling-icon="ion-arrow-up-c">
    </ion-refresher>
    <ion-list ng-init="doRefresh()">
      <!--http://www.iperform.nl/en/blog/post/cordova-open-external-link-->

      <ion-item class="item item-icon-left item-icon-right"
         ng-repeat="story in topStories"
         ng-click="openBrowser(story.url)"> <!--href="{{story.url}}" target="_blank" -->
          <i class="icon">
            <button class="story-score button button-small button-dark">
              <i>{{story.score}}</i>
            </button>
          </i>
          <span class="story-title item-text-wrap">
            {{$index+1}} - {{story.title}} 
            <span class="story-time-ago subdued">
              [{{story.time * 1000 | timeAgo}}]
            </span>
          </span>
          <span class="story-domain item-note">
            ({{ story.url | domain }})
          </span>
          <i class="icon">
            <a class="story-comments badge badge-positive" 
               href="#/app/comments/{{story.id}}">
               {{story.descendants}}
            </a>
          </i>
      </ion-item>
                
      <ion-item ng-show="moreDataCanBeLoaded()">
        <button class="button button-block button-outline button-small button-small button-dark" 
          ng-click="loadMoreData()">
          More...
        </button>
      </ion-item>
    </ion-list>

    <!--<ion-infinite-scroll
      ng-if="moreDataCanBeLoaded()"
      icon="ion-loading-c"
      on-infinite="loadMoreData()"
      distance="10%">
    </ion-infinite-scroll>-->
    <!--<ion-refresher pulling-text="Load More Data?"
      ng-if="moreDataCanBeLoaded()"
      on-refresh="loadMoreData()"
      spinner="ios"
      pulling-icon="ion-arrow-up-c">
    </ion-refresher>-->
  </ion-content>
</ion-view>
