<ion-view view-title="Top Stories">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list ng-init="doRefresh()">
      <!--<ion-item ng-repeat="story in topStories | orderBy:'$id'" href="#/app/topStories/{{story.$value}}">-->
      <ion-item ng-repeat="story in topStories" href="{{story.url}}">

        <table>
          <tr>
            <td width="30px" align="center">
              <b id="score">{{story.score}}</b>
            </td>
            <td class="item-text-wrap">
              <table>
                <tr><td><span id="title">{{story.title}}</span></td>
                <td>
                  <span id="domain" class="item-note">({{ story.url | domain }})</span>
                </td></tr>
              </table>
            </td>
            <td>
              <span id="comments" class="badge badge-positive">
                {{story.descendants}}
              </span>
            </td>
          </tr>
        </table>
        

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
