<ion-view view-title="User Comments">
  <ion-content id="scrollList" delegate-handle="mainScroll">

     <div class="card">
	  <div class="item item-divider" style="padding-bottom: 20px;">
		<!--<hr style="height:5pt; visibility:hidden;" />-->
		<p>Created: {{user.created * 1000 | timeAgo}}</p>
	    <span class="item-text-wrap"><b>{{user.id}}</b></span>
	    <a class="badge badge-positive" style="text-decoration: none;margin-right:-20px;margin-top:-2px;">
			Karma: {{user.karma}}
		</a> 
	  </div>
	  <!--The next divider is to show the ask description-->
	  <div class="item item-divider" ng-show="story.text">
	    <span class="item-text-wrap" ng-bind-html="story.text"></span>
	  </div>
	  <div class="item" ng-repeat="comment in storyComments" style="">

	  	<div style="background-color:#F5F5F5;position:absolute;width:20px;height:105%;margin-top:-20px;margin-left:-20px;"></div>
	  	<div style="margin-left:20px;">
	  		<a class="badge badge-positive" href="#/app/user/{{comment.by}}" style="text-decoration: none;margin-top:-7px;margin-right:-20px;">
			{{comment.by}} | {{comment.time * 1000 | timeAgo}}
			</a>
			<button class="button button-clear button-positive" ng-click="goToCommentStoryPage(comment.id)" style="margin-top:-20px;margin-left:-20px;">
		      <i class="icon ion-bookmark"></i>
		    </button> </span>
			<hr style="height:5pt; visibility:hidden;" />
		    <span class="comment-text item-text-wrap" ng-bind-html="comment.text"></span>
		</div>
	  </div>
	</div>
                
  </ion-content>
</ion-view>
