/* Empty. Add your own CSS if you like */



.story-comments {
	margin-right:-30px;
}

.story-domain {
	margin-right: 20px;
}


.story-title {
	/*margin-left: 20px;
	margin-right: 20px;*/

}

.story-time-ago {
	font-size: 13px;
}

.comment-text {
	text-align: justify;
}
